.grand {
    height: 100vh;
}

.grand {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

h1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 10px 0 0;
}

.controls {
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: -4;
}

.main { 
    grid-column-start: 8;
    grid-column-end: -8;
    grid-row-start: 2;
    grid-row-end: -2;
    /* border: 5px solid black; */
    height: 420px;
    width: 420px;
    margin: auto;
    background-color: red;
    
}